html{
	height: 100%;
}
body{
	background: #B3B3B3;
	margin: 3%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	background: -webkit-linear-gradient(#485AB7 0%,#B3B3B3 100%);
}
h1{
	color:#F00000;
	font-family: "Comic Sans MS";
	text-align: center;
	/*background: #D3D3D3;*/

}

/*nav a{
	color:#FD0D0D;
	background-color: rgba(255,255,255,0.4);
	font-family: Arial,"Times New Roman";
	font-size: 20px;
	padding: 1% 2% 1% 2%;
	-webkit-border-radius: 10%;
	text-decoration: none;
}*/
nav a{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin: 0px 20px 0px 20px;
	padding: 0px 0px 0px 0px;
}
aside{
	margin-bottom: 1%;
}
/*a:hover{
	background-color: rgba(44,212,26,0.4);
}*/
h2{
	color: #F1EB00;
	background-color: #2DA035;
	font-family: "Trebuchet MS",Helvetica;
	text-align: center;
}

section {
    display: inline-block;
    width: 25%;
    background: crimson;
    background: linear-gradient(red,greeen);
    -webkit-border-radius: 10px;
    margin-right: 2%;
    float: left;
    background-webkit-linear-gradient: #00FFFF 0% #0D0D0D 100%;
    background: -webkit-linear-gradient(#007eab 0%,#0DFDad 100%);
}
.half{
	display: inline-block;
	width: 45%;
	margin-right: 2%;
	float: left;
}

.last{
	clear: both;
	width: 95%
}

footer{
	clear: both;

}
figure{
	display: inline-block;
}
img{
	width: 120px;
}
